.city {
  color: #C3C3C3;
}

.heading {
  font-family: 'Press Start 2P', cursive;
  color: #eccc68;
}

body {
  min-height: 700px;
  min-width: 700px;
}

.bodyWrapper {
  height: 750px;
}



/* .hide {
  display: none;
} */

.show {
  color:#C3C3C3;
}

.searchArea {
  margin-top: 60px;
}

.searchButton {
  background-color: #e96e50;
      border-color: #c1593f;
}

footer {
  text-align: center;
}
